@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Stalinist+One&display=swap');

:root {
    --hazard-red: #8a0303;
    --umbrella-white: #e0e0e0;
    --terminal-black: #050505;
    --caution-yellow: #f4d03f;
}

* { box-sizing: border-box; cursor: crosshair; }

body {
    margin: 0;
    background-color: var(--terminal-black);
    color: var(--umbrella-white);
    font-family: 'Special+Elite', system-ui; /* Typewriter font */
    background-image: 
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
        repeating-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    background-size: 100% 2px, 100% 20px;
}

/* Flicker Animation */
@keyframes flicker {
    0% { opacity: 0.9; }
    5% { opacity: 0.5; }
    10% { opacity: 0.9; }
    100% { opacity: 1; }
}

.navbar {
    border-bottom: 4px solid var(--hazard-red);
    padding: 1rem 5%;
    background: #1a0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { font-family: 'Stalinist One'; color: var(--hazard-red); letter-spacing: 2px; }

.nav-links a {
    color: var(--umbrella-white);
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nav-links a:hover { color: var(--hazard-red); text-shadow: 0 0 5px red; }

.container {
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    animation: flicker 5s infinite;
}

/* The File/Folder Card */
.case-file {
    background: #121212;
    border: 2px solid #333;
    max-width: 700px;
    width: 100%;
    padding: 2rem;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

/* Hazard Tape Effect */
.case-file::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; height: 10px;
    background: repeating-linear-gradient(-45deg, #000, #000 10px, var(--caution-yellow) 10px, var(--caution-yellow) 20px);
}

.profile-img {
    width: 150px;
    filter: grayscale(1) contrast(1.2);
    border: 1px solid var(--hazard-red);
    margin-bottom: 1rem;
}

.status-box {
    border: 1px solid var(--hazard-red);
    padding: 10px;
    color: var(--hazard-red);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
}

/* Health Bar (Skill Bar) */
.health-label { font-size: 0.7rem; margin-top: 10px; display: block;}
.health-container {
    height: 15px;
    background: #222;
    border: 1px solid #444;
    margin-bottom: 10px;
}
.health-fill {
    height: 100%;
    background: #00ff00; /* Fine */
    box-shadow: 0 0 10px #00ff00;
}
.health-caution { background: #f4d03f; box-shadow: 0 0 10px #f4d03f; }

.btn-terminal {
    display: block;
    width: 100%;
    background: var(--hazard-red);
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}

.btn-terminal:hover { background: #ff0000; }
